footer.page-footer
  div.container.container-footer
    div
      div.block.editorialblock.col-md-12.col-lg-4
        p
          img(alt="Geonorge logo", height="87", src="assets/images/png/geonorge.png", width="381")
        small#applicationVersionNumber Versjon 6.4.900
        ul.editorialblock-list-item
      div.block.editorialblock.col-md-12.col-lg-4
        h2 Om nettstedet:
        ul.editorialblock-list-item
          li
            a(href="https://www.geonorge.no/aktuelt/om-geonorge/", target="_blank") Om Geonorge
          li
            a(href="http://kartverket.no/Om-Kartverket/Personvern-og-cookies/", target="_blank") Personvern og bruk av cookies
      div.block.editorialblock.col-md-12.col-lg-4
        h2 Kontakt
        p
          span(style="font-family: 'Open Sans', sans-serif; font-size: 22px;")
          br
          | Telefon: 08700
          br
          span Fra utlandet: +47 32 11 81 21
          br
          a(href="mailto:post@norgedigitalt.no", title="post@norgedigitalt.no") post@norgedigitalt.no
          br
          | Org. nr.: 971 040 238
        hr
        p En løsning fra
        p
          img(alt="Kartverket logo", height="75", src="assets/images/png/kartverket.png", width="195")
        ul.editorialblock-list-item
