header.main-header
  div.container
    div.row.top-row
      div.col-xs-5
        div.logo-wrapper
          div#geonorge-logo.geonorge-logo
            a(href="https://www.geonorge.no/")
              img(alt="Logo", height="55", src="assets/images/svg/geonorge_logo.svg", width="350")
div.menu-separator
