doctype html
html
  head
    meta(charset="utf-8")
    title Tjenestestatus - Geonorge
    link(href="assets/css/main.css", rel="stylesheet", type="text/css")
    link(href="assets/css/app.css", rel="stylesheet", type="text/css")
  body
    include includes/header.pug
    include includes/breadcrumbs.pug
    div.body-content
      div.container
        include includes/heading.pug
        article
          p.ingress
            | Tjenestestatus
            span.service-type.prefix-dash
            |
            | viser oppetid, responstid og testresultater i forhold til teknisk kvalitet på tjenesten som er registrert i Geonorge. Det utføres automatiserte tester knyttet til en rekke tekniske krav. I-knappen til høyre gir ekstra informasjon pr tjeneste.
        div#root
    include includes/footer.pug
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/nb.js", type="text/javascript")
    script(src="https://unpkg.com/urljs@2.3.1/src/url.min.js", type="text/javascript")
    script(src="https://unpkg.com/react@15.4.2/dist/react.min.js", type="text/javascript")
    script(src="https://unpkg.com/react-dom@15.4.2/dist/react-dom.min.js", type="text/javascript")
    script(src="assets/js/app.js", type="text/javascript")
    script(src="assets/js/main.js", type="text/javascript")
